{% extends 'base.html' %}

{% block title %}TO DO{% endblock title %}
{% block content %}

<div class="text-gray-700 body-font">
    <div class="container px-5 py-24 mx-auto flex flex-wrap">
        <div class="w-full mb-6 py-6 flex justify-between items-center border-gray-200">
            <div>
                <h1 class="text-4xl text-gray-800">TO DO</h1>
            </div>
        </div>


        

        <a href="{% url 'boards:create-board' %}" class="p-2 bg-blue-300 rounded-md hover:bg-blue-400">추가</a>

        <div class="w-full shadow border-gray-200 sm:rounded-lg">
                <table class="min-w-full divide-y divide-gray-200">          
                    <thead class="bg-gray-50">
                        <tr>
                            <th scope="col" class="px-3 py-3 text-left text-xs font-medium text-gray-500 tracking-wider">
                            <i class="fas fa-tasks"></i>
                            </th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 tracking-wider">
                            태그
                            </th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 tracking-wider">
                            내용
                            </th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 tracking-wider">
                            완료 일자
                            </th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 tracking-wider">
                            등록 일자
                            </th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 tracking-wider">
                            수정 일자
                            </th>
                            <th></th>                            
                        </tr>
                    </thead>          
                    <tbody>
                        {% for board in boards %}
                            <tr class="bg-white">
                                <td class="px-3 py-4 whitespace-nowrap text-sm text-gray-500">
                                    <input id="{{board.pk}}-hidden" type="hidden" value="{{board.complete_yn}}" >
                                   {% if board.complete_yn %}            
                                   <i class="fas fa-check-double text-green-500 hover:cursor-pointer" onclick="checkToggleHandler({{board.pk}})" ></i>
                                   {% else %}
                                   <i class="fas fa-check opacity-30 hover:cursor-pointer" onclick="unCheckToggleHandler({{board.pk}})"></i> 
                                   {% endif %} 
                                </td>                                                                                                                                                      
                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">                                    
                                    <input id="{{board.pk}}-tag" type="text" value="{{ board.tag }}" disabled class="border-0" />
                                    <i id="{{board.pk}}-tag-icon" class="fas fa-edit text-blue-500 hover:cursor-pointer" onclick="editTag({{board.pk}})" ></i> 
                                    <button id="{{board.pk}}-tag-btn" class="p-2 bg-blue-300 rounded-md hidden">수정</button>                                   
                                    <button id="{{board.pk}}-tag-cancel" class="p-2 bg-red-300 rounded-md hidden">취소</button>                                   
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900 relative">                                    
                                    <span class="inline-block w-full">{{ board.get_content }}</span>
                                    <i id="{{board.pk}}-content-icon" class="fas fa-edit text-blue-500 hover:cursor-pointer" onclick="editContent({{board.pk}})" ></i> 
                                    <div class="absolute bottom-6 left-56">
                                        <button id="{{board.pk}}-content-btn" class="p-2 bg-blue-300 rounded-md hidden">수정</button>                                   
                                        <button id="{{board.pk}}-content-cancel" class="p-2 bg-red-300 rounded-md hidden">취소</button>                                   
                                    </div>
                                    <textarea id="{{board.pk}}-content-textarea" cols="30" rows="10" class="absolute right-0 top-12 z-10 hidden">{{ board.content }}</textarea>
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                    {% if board.complete_date %}
                                        <span>{{ board.complete_date }}</span>
                                    {% endif %}
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                    <span>{{ board.created }}</span>
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                    <span>{{ board.updated }}</span>
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                    <a href="{% url 'boards:delete-board' board.pk %}"><i class="fas fa-times text-red-500 hover:cursor-pointer"></i></a>
                                </td>
                            </tr>

                        {% empty %}
                            <tr class="bg-white">
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                    <p>등록된 to do가 없습니다.</p>
                                </td>
                            </tr>                        
                        {% endfor %}
                        
                    </tbody>
                </table>
        </div>
            
        

        
        {% include 'pagination.html' with list=boards %}
        
  
    </div>
</div>

{% endblock content %}